ArduinoOutput/*
code/test/*.txt
*.bkp
code/test/.ipynb_checkpoints/
code/test/CMSIS/
code/test/build/
code/test/_deps/
code/test/CMakeFiles/
code/test/run_tests
code/test/cmake_install.cmake
code/test/CMakeCache.txt
code/test/Makefile
code/test/all_*.cmake
code/test/all_*.a
*.log
*.bin
*.so
*.o
*.d
*.elf
*.eep
*.map
*.hex
*.a
*.s
*.i
*.ii
*.obj
*.su
*.gcno
*.gcda
*.gcov
*.out
*.exe
*.axf
*.srec
*.sym
*.ld
*.dep
*.gdb
*.elf.d
*.elf.o
*.elf.a
*.elf.s
*.elf.i
*.elf.ii
*.elf.obj
*.elf.su
*.elf.gcno
*.elf.gcda
*.elf.gcov
*.elf.out
*.elf.exe
*.elf.axf
*.elf.srec
*.elf.sym
*.elf.ld
*.elf.dep
*.elf.gdb
code/test/lib/
all_*_tests

# MkDocs
site/
.cache/

.claude/settings.local.json
